<ion-navbar *navbar hideBackButton class="android-attr" >

  <button menuToggle class="white-non-border">
    <ion-icon name='menu'></ion-icon>
  </button>
  <ion-title padding class="white-non-border">
    <!--<img [src]="logo" width="90"/>-->
    QUOTE FORM
  </ion-title>

</ion-navbar>
<ion-content class="getquote">
    <p class="space-bottom-input"></p>
    <ion-col width-100>
        <ion-row class="center">
            <ion-item class="space-bottom-input">
                <ion-input type="telephone" value="" placeholder="External Referrence"></ion-input>
            </ion-item>
        </ion-row>
        <ion-row class="center block-date">
            <ion-item class="space-bottom-input">
                <ion-input type="text" value="" placeholder="Picup Date"></ion-input>
            </ion-item>
            <ion-item class="space-bottom-input">
                <!--<ion-label>Pickup Time</ion-label>-->
                <ion-select>
                    <ion-option *ngFor="#time of times" [value]="time">{{time}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-row>
        <ion-row class="center block-date">
            <ion-item class="space-bottom-input">
                <ion-input type="text" value="" placeholder="Return Date"></ion-input>
            </ion-item>
            <ion-item class="space-bottom-input">
                <!--<ion-label>Return Time</ion-label>-->
                <ion-select>
                    <ion-option *ngFor="#time of times" [value]="time">{{time}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-row>
        <ion-row class="center block-date">
            <ion-item class="space-bottom-input">
                <ion-input type="text" value="" placeholder="Collection Address"></ion-input>
            </ion-item>
            <button class="space-bottom-button  tab-4">
                <i class="fa fa-map-marker" style="margin-right: 10px;"></i>
                Find
            </button>
        </ion-row>
        <ion-row class="center block-date">
            <ion-item class="space-bottom-input">
                <ion-input type="text" value="" placeholder="Extra Drops"></ion-input>
            </ion-item>
            <button class="space-bottom-button  tab-4">
                <i class="fa fa-map-marker" style="margin-right: 10px;"></i>
                Find
            </button>
        </ion-row>
        <ion-row class="center block-date">
            <ion-item class="space-bottom-input">
                <ion-input type="text" value="" placeholder="Destination Address"></ion-input>
            </ion-item>
            <button class="space-bottom-button  tab-4">
                <i class="fa fa-map-marker" style="margin-right: 10px;"></i>
                Find
            </button>
        </ion-row>
        <p></p>
        <ion-row>
            <p class="white-non-border">
                Mileage Duration
            </p>
        </ion-row>
        <ion-row class="center block-date">
            <ion-item class="space-bottom-input">
                <ion-input type="text" value="" placeholder="Destination Address"></ion-input>
            </ion-item>
            <button class="space-bottom-button  tab-4">
                <i class="fa fa-map-marker" style="margin-right: 10px;"></i>
                Find
            </button>
        </ion-row>
    </ion-col>
    <ion-row class="position-bottom">
        <ion-col width-25 class="tab-1"></ion-col>
        <ion-col width-25 class="tab-2"></ion-col>
        <ion-col width-25 class="tab-3"></ion-col>
        <ion-col width-25 class="tab-4"></ion-col>
    </ion-row>
</ion-content>